<%- include('../partials/header') %>
  <h2>Add a New Flight</h2>
  <form action="/flights" method="POST">
    <label>Airline</label>:   
    <select name="airline"></select>  
      <option value="American">American</option>  
      <option value="Southwest">Southwest</option> 
      <option value="United">United</option>
    </select>  
    <br>
    <label>Airport</label>
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN" selected="selected">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option> 
    </select>
    <br/>  
    <label>Flight Number</label>:
    <input type="number" name="flightNo">  
    <br/>
    <label>Departs</label>
    <input type="datetime-local" name="departs"/>  
    <br/> 
    <input type="submit" value="Add Flight">
  </form>
  <%- include('../partials/header') %>
       